{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={% static 'css/styles.css' %}>
  <title>Index</title>
</head>
<body>
    <h1>Pagina para anotar os conteudos estudados sobre programacao</h1>
    <a href='/criando_django/'><button class=botao>Criando uma aplicacao Django</button></a>
    <a href='/fundamentos_csharp/'><button class=botao>Fundamentos sobre o C#</button></a>
    <a href='/fundamentos_python/'><button class=botao>Fundamentos de Python</button></a>
    <a href='/fundamentos_flutter/'><button class=botao>Fundamentos de Flutter</button></a>
</body>
</html>